.header{
    /* color: aqua; */
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    margin: 10px;
}

.logo{
    height: 100px;
}

.navBar{
    display: flex;
    /* justify-content: space-around; */
    list-style-type: none;
}

.navBar > li {
    margin: 20px;
    font-size: 25px;
}

.body {
    border: 3px solid black;
}

.searchContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.searchBox {
    padding: 10px;
    min-width: 300px;
}

.resContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    border: 2px solid black;
    padding: 20px;
}

.resCard {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

.resCard:hover {
    cursor: pointer;
    border: 1px solid black;
    transform: scale(1.05);
}

.resCard > img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.name{
    font-weight: bold;
}
.footer {
    border: 3px solid black;
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
}

.footer > div {
    text-align: center;
}